<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{instance.name}}
{{instance.photo}}

<a href='http://127.0.0.1:8000/api/v1/visitor/host-approval/{{instance.approval.first().host.id}}/?is_approved=True'>
    <button class="GFG">
        YES
    </button>
</a>

<a href='http://127.0.0.1:8000/api/v1/visitor/host-approval/{{instance.approval.first().host.id}}/?is_approved=False'>
    <button class="GFG">
        NO
    </button>
</a>
</body>
</html>
